@{
    ViewBag.Title = "About";
}

<br />
<form method="get">

    <fieldset>
       Film TÜrü Seçiniz : <select id="MovieType" name="MovieType" class="form-control" mb-5>



    <option value="0">Aksiyon</option>

    <option value="1">Drama</option>

    <option value="2">Komedi</option>

    <option value="3">Bİlim kurgu </option>
    <option value="4">Animasyon </option>
    <option value="5">Macera </option>
    <option value="6">Fantastik </option>


</select>

       

    </fieldset>

</form>
